@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.orange-color{
    color: #FEA301;
}
.skyblue-color{
    color: #01ACFD;
}
.light-skyblue-color{
    color: #05D4DF;
}
.light-biolet-color{
    color: #5D58EF;
}
.black-color{
    background-color: #111111;
}
.main-content{
    /* width: 90%; */
    max-width: 1200px;
    margin: 0 auto;
}
.btn-primary{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}
.quicksand-fond{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navbar sections design */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.brand-name{
    font-size: 2rem;
    font-weight: 800;

}
.navbar{
    margin-top: 20px;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 800;
}
.nav-link{
    text-decoration: none;

    
}
.btn-2{
    margin-left: 180px;
    background-color: #FEA301;

}
hr{
    display: none;
}
#bar{
    display: none;
}


/* banner section design */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.8rem;
    margin-bottom: 20px;
}
.banner-desciption{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
/* curriculum section design */
.curriculum{
    /* background: url(../assets/bg.png); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.curriculum-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;

}
.curriculum-title{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.55rem;
}
.curriculum-card{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 80px;
}

.curd-details{
    width: 366px;
    height: 476px;
    background: linear-gradient(rgba(222, 245, 255, 1));
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
.card-details>img{
}
.kinder-title{
    margin-top: 32px;

}
/* for mobile device */
@media screen and (max-width: 576px) {
   
    .brand-name,
    .nav-list,
    .nav-link
    {
        display: none;

    }
    .header{
        justify-content: space-between;
        padding: 5px 20px;
    }
    hr{
        display: block;
        border: 1px solid #FEA301;
        margin-top: 5px;
    }
    #bar{
        display: block;

    }
    /* banner section */
    .banner{
        flex-direction: column-reverse;
    }
 
    .banner-img{
        width: 400px;
        margin: 20px auto;
        
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .banner-img img{
        width: 90%;
        margin: 0 auto;

    }

    .banner-title{
        font-size: 2rem;
        font-weight: bold;
        line-height: 3rem;
        text-align: center;
    }
    .banner-desciption{
        text-align: center;
    }
    .btn-primary{
        display: flex;
        margin: 0 auto;
    }
}